@import "../../styles/common.scss";

.about {
  color: $white;

  .about-img {
    position: relative;
    margin-top: -76px;
    z-index: -1;
    background: rgba($color: #ff6057, $alpha: 1);
    border-bottom-right-radius: 146px;
    border-bottom-left-radius: 0px;
    padding: 52px 63px;
    padding-bottom: 150px;
  }
  .aboutInfo {
    padding-top: 100px;
    .title_1 {
      font-size: 25px;
    }
    .description {
      text-overflow: ellipsis;
      white-space: pre-wrap;
      width: 90%;
    }

    .description {
      color: $white;
    }
  }
  .orangeBackgroung {
    width: 100%;
  }
  .report {
    width: 100%;
    margin-left: -100px;

    & {
      @media (max-width: 767px) {
        display: none;
      }
    }
  }

  ul {
    @include flex();
    text-align: center;
    margin-top: 50px;
    img {
      width: 153px;
      cursor: pointer;

      &:hover {
        filter: drop-shadow(1px 1px 23px $orange);
      }
    }
  }
}
