@import "../../styles/common.scss";

.header {
  color: $white;
  padding-top: 31px;
  .logo-links {
    //   background-image: url("../../../public/imgs/orange-background.png");
    // background-repeat: no-repeat;
    // background-size: 300px 100px;
    display: flex;
    // align-items: baseline;
  }

  .study {
    width: 97px;
  }
  ul {
    list-style: none;
    @include flex($justify: space-between);
    li {
      margin-right: 10px;
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
}
