@import "../../../styles/common";



.slider{
    li button:before {
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
    
    }

    li.slick-active button:before {
        opacity: 1;
        color: $orange !important;
    }
}
