@import "../../styles/common.scss";

.bestPlatform {
  margin-top: $sectionMargin;

  .row{
    align-items: center;
  }
  .img-blatForm{
    width: 100%;
    padding-top: 20px;
  }
 
  .bestPlatformInfo {
     padding: 5px 35px;
  }
}
