
@import '../../../styles/common';

.button{
    outline: none;
    border: none;
    width: 165px;
    height: 34px;
    border-radius: $border-radious;
    color:$white;
    background: $background_1;

  &{
    @media (max-width:400px){
        width: auto;
    }
  }
}