
@import '../../../styles/common';

.button{
    outline: none;
    border: none;
    width: 165px;
    height: 34px;
    border-radius: $border-radious;
    color:$white;
    background: $background_1;
    transition: all 0.4s ease-in;
    cursor: pointer;
  &:hover{
    box-shadow: $box-shadow_2;
  }
}