$black: #101010;
$black_1:#333333;
$white: #ffffff;
$orange :#FF6057;
$gray:#8F8F8F;
$red:#F1291E;
$purple:#CB4BF8;
$green:#56E65B;
$green_1:#36C5AD;
$background:rgba(124,28,128,0.66 );
$background_1: linear-gradient(-90deg, 
rgba(124,28,128,0.66 ) 0.00%, 
#ff6057 100.00%);

$border-radious:6px;

$sectionMargin:150px;
$marginBottom:40px;

$box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);

$titleFont-s: 20px;
$titleFont-m: 30px;
$titleFont-l: 40px;