@import "../../styles/common.scss";

.commonStyle {
  height: 35px;
  border-radius: 20px;

}

.footer {
  background-color: $black_1;
  list-style: none;
  color: $white;
  padding: 32px 9px;
  margin-top: $sectionMargin;
  h2:nth-of-type(3) {
    font-size: 30px;
  }
  h2 {
    padding-bottom: 15px;
  }

  .subscribe {
    position: relative;

    input {
      width: 100%;
      @extend .commonStyle;
    }
    .subscribeButton {
     
      @extend .commonStyle;
      background-color: $orange;
      position: absolute;
      right: 0;
      &{
        @media (max-width:400px) {
          width: auto;
        }
      }
    }
  }
}
