@import "../../styles/common";

.solutions {
  margin-top: $sectionMargin;
}

.businessBox {
  margin-top:40px;
  .businessImg {
    width: 50px;
    border-radius: 50%;
    height: 50px;
    line-height: 50px;
    filter: drop-shadow(0px 0px 7.5px rgba(0, 0, 0, 0.16));
    display: block;
    padding: 12px;
  }
  .description {
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 33px;
  }
  .line {
    background-color: $orange;

    width: 79px;
    height: 3px;

    border-radius: 10px;
  }

  .red {
    background-color: $red;
  }
  .green {
    background-color: $green;
  }
  .purple {
    background-color: $purple;
  }
  .green_1 {
    background-color: $green_1;
  }

  .businessTitle {
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    margin-top: 16px;
  }
}
